<div class="footer-tag">
  <img src="/static/images/red border.gif" style="height:5px; margin:0 408px;">
  <p class="homepage-descript">All information is believed to be accurate, but is not guaranteed by Ruth Woodman Real Estate.</p>
  <p class="homepage-descript">Licensed by the Louisiana Real Estate Commission and the Texas Real Estate Commission.</p>
  <div style="text-align: center;">
    <a href="/residential">Residential Properties</a> | <a href="/commercial">Commercial Properties</a> | <a href="/lake">Lake Properties</a> | <a href="/land_and_country">Land and Country Homes</a><br>
    <a href="/east_texas">East Texas Homes and Acreage</a> | <a href="/town_and_patio">Town and Patio Homes </a>|<a href="/"> Home</a>
</div>
