{% extends "templates/partials/base.html" %}

{% block content %}
<p class="homepage-descript">Established in 1981 Celebrating our 25th year</p>
<h2 class="homepage-descript">"Special Homes for Special People"</h2>
<p class="homepage-descript">9045 Ellerbe Road</p>
<p class="homepage-descript">Shreveport, La 71106</p>

<img src="/static/images/red border.gif" style="height:5px; margin:0 315px;">

<p class="homepage-descript">TERMS AND CONDITIONS OF USE</p>
<p>(i)"Copyright 2004 NWLAR. All rights reserved. The sharing of MLS database, or any portion thereof, with any unauthorized third party is strictly restricted"</p>
<p>(ii) "Information contained on this site is believed to be reliable, yet, users of this web site are responsible for checking the accuracy, completeness, currency, or suitability of all information. Neither NWLAR nor M.L.S. Inc. makes any representation, guarantees, of information provided. They specifically disclaim any and all liability for all claims or damages that may result from providing information to be used on the website, or the information which it contains, including any websites maintained by third parties, which may be linked to this website.</p>
<p>(iii) The information being provided is for the consumer's personal, non-commercial use, and may not be for any purpose other than to identify prospective properties which consumers may be interested in purchasing. The user of this site is granted permission to copy a reasonable and limited number of copies to be used in satisfying the purposes identified in the preceding sentence. "</p>
<p>(iv) By using this site you signify your agreement with and acceptance of these terms and conditions. If you do not accept this policy, please do not use this site in any way. Your continued use of this site, and/or its affiliates' sites, following the posting of changes to
these terms will mean you accept those changes, regardless of whether you are provided with additional notices of changes.</p>

{% endblock %}
